# VITE_API_URL = "" #base API URL, etc on local network: http://localhost:3000
#^ No longer needed. see vite config. When fetch sees / with no hostname it uses current hostname, we redirect that to proxy set in vite config.