DATABASE_URL=""

#AZURE 
AZURE_ENDPOINT = ""
AZURE_API_KEY = ""

#AWS S3 
BUCKET_NAME = ""
BUCKET_REGION = ""
SECRET_ACCESS_KEY = ""
ACCESS_KEY = ""

#REDIS
REDIS_HOST = ""
REDIS_PORT = ""

#Google OAuth Client
GOOGLE_OAUTH_CLIENT_ID = ""
GOOGLE_OAUTH_CLIENT_SECRET = ""

#MISC
FRONTEND_URL = ""
INVOICE_LIMIT = ""
NODE_ENV = "" #dev or production

#ASYMM KEYS FOR JWT SIGNING/VERIFYING, relative to current working directory aka where you execute the node run command
JWT_PUBLIC_KEY_PATH = ""
JWT_PRIVATE_KEY_PATH = ""


